
 <!DOCTYPE html>
 <html>
 <head> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Expense Manager | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="font/VarelaRound-Regular.ttf" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <script src="js/Chart.js"></script>
    
    <style>
        .body .nav .div{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .container1 {
            width: 460px;
            height: 350px;
        }

        .container-section {
            padding: 30px;
        }

        .card {
            width: 500px;
            height: 650px;
        }

        .section {
            width:100%;
            height: 100px;
            text-align: center;
        }

        .margin-btn-mim {
            margin-right: 10px;
            margin-left: 10px;
        }

        .active-mim {
            margin-top:20px;
            color: #fff;
            background-color: orangered;
            transition: 0.5s;
            border-color: orangered;
        }

        hr {
            height:3px;
            border:none;
            color:orange;
            background-color:orange;
        }

        .td {
            width: auto;
        }

        .image-mim {
            transform: scale(0.8, 0.8);
            transition: 0.5s;
        }

        .image-mim:hover {
            transform: scale(1, 1);
            transition: 0.5s;
        }

    </style>
 </head>
 <body style="background-color: black;">
<nav class="navbar navbar-light" style="background-color: orangered;">
        <form action="main0" method="GET">
            <button type="submit" class="btn btn-dark my-2 my-sm-0" style="background-color: transparent;border-width: 0px;" >Expense<br>Manager</button>
        </form>
        <%if(status === "1") {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Income Added</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <%if(status === "2") {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Expense Added</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <%if(status === "3") {%>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Budget Added</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <%if(status === "4") {%>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Budget Updated</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <form class="form-inline" action="logout" method="POST">
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Logout</button>
        </form>
</nav>  
<div class="section">
    <div class="container-section text-center">
            <button  id="today" onclick="TODAY()" class="btn btn-outline-light my-2 my-sm-0 margin-btn-mim" >Today</button>
            <button  id="week" onclick="WEEK()" class="btn btn-outline-light my-2 my-sm-0 margin-btn-mim" >Week</button>
            <button  id="lifetime" onclick="LIFETIME()" class="active-mim btn btn-outline-light my-2 my-sm-0 margin-btn-mim">Lifetime</button>
            <button  id="month" onclick="MONTH()" class="btn btn-outline-light my-2 my-sm-0 margin-btn-mim" >Month</button>
            <button  id="year" onclick="YEAR()" class="btn btn-outline-light my-2 my-sm-0 margin-btn-mim" >Year</button>
    </div>
</div>  
<div class="row justify-content-center">
    <div class="col-md-4 card" style="margin:20px">
            <div class="container1">
                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-10">
                                <h1 style="color: #d40000;">Expense: <small style="color: #000000;">- ₹</small><small id="expenseTotal" style="color: #000000;"><%=LTEtotal%></small></h1>
                        </div>
                        <div class="col-sm-2">
                            <img class="image-mim" data-toggle="modal" data-target="#expense" width="45px" height="45px" style="cursor: pointer; margin-top:8px; margin-right:40px;" src="assets/plus-red.svg">
                        </div>
                    </div>
                    <hr>
                    <canvas id="myChart1" width="200px" height="200px"></canvas>
                    <hr>
                    <form action="expense" method="POST">
                        <button type="submit" class="btn btn-outline-danger" style="width:450px;" >Details</button>
                    </form>
            </div>
    </div>
    <div class="col-md-4 card" style="margin:20px">
            <div class="container1">
                <div class="row" style="margin-top:10px">
                    <div class="col-sm-10">
                            <h1 style="color: #43B05C;">Income: <small style="color: #000000;">+ ₹</small><small id="incomeTotal" style="color: #000000;"><%=LTItotal%></small></h1>
                    </div>
                    <div class="col-sm-2">
                        <img class="image-mim" data-toggle="modal" data-target="#income" width="45px" height="45px" style="cursor: pointer; margin-top:8px; margin-right:8px;" src="assets/plus-green.svg">
                    </div>
                </div>
                <hr>
                <canvas id="myChart2" width="200px" height="200px"></canvas>
                <hr>
                <form action="income" method="POST">
                    <button type="submit" class="btn btn-outline-success" style="width:450px;" >Details</button>
                </form>
            </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8 card" style="margin:20px; height: auto;">
        <div class="container">
                <div class="row" style="margin-top:10px">
                    <div class="col-sm-10">
                            <h1 style="color: #005fdd;">Budget</h1>
                    </div>
                    <div class="col-sm-2">
                        <img  class="image-mim" data-toggle="modal" data-target="#budget" width="45px" height="45px" style="cursor: pointer; margin-top:8px; margin-right:0px;" src="assets/plus-blue.svg">
                    </div>
                </div>
                <hr> 
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Progress</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody id="data">
                        <%if(BUD.length > 0) {%>
                        <%BUD.forEach((result,index) => {%>
                            <% dateNOW = result.ExpireDate.toString()%>
                        <tr>
                            <td><%=result.Name%></td>
                            <td>
                                <div class="progress">
                                    <%if(result.Remaining > 0) {%>
                                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%=result.Percentage%>%">
                                            ₹ <%=result.Remaining%>
                                        </div>
                                    <%} else {%>
                                        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: <%=result.Percentage%>%">
                                            ₹ <%=result.Remaining%>
                                        </div>
                                    <%}%>
                                </div>
                            </td>
                            <td><%=dateNOW.slice(0,10) %></td>
                            <%if(result.Remaining > 0) {%>
                                <td><span class="badge badge-success">On Budget</span></td>
                            <%} else {%>
                                <td><span class="badge badge-danger">Exceed</span></td>
                            <%}%>
                        </tr>
                        <%})%>
                        <%} else {%>
                            <tr><td>No Budget Added yet</td></tr>
                        <%}%>                                                                                                                                                                     
                    </tbody>
                </table> 
                <hr>   
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="expense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color: red; color:white">
            <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="authAE" method="POST">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter the Name" required>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Quantity:</label>
                <input type="number" min="1" max="50" class="form-control" name="quantity" placeholder="Enter the Quantity" required>
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Amount:</label>
                <input type="number" min="1" max="999999" class="form-control" name="amount" placeholder="Enter the Amount" required>
            </div>
            
            <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                            <label>Category :</label><br>
                            <select name="category" placeholder="Select" class="btn btn-primary dropdown-toggle" value="" required>
                                <option value="Groceries">Groceries</option>
                                <option value="Bills">Bills</option>
                                <option value="Education">Education</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Travel">Travel</option>
                                <option value="Medical">Medical</option>
                                <option value="Utilities">Utilities</option>
                                <option value="Others">Others</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                            <label>Payment Method :</label><br>
                            <select name="payment" placeholder="Select" class="btn btn-primary dropdown-toggle" value="" required>
                                <option value="Cash">Cash</option>
                                <option value="Credit">Credit</option>
                                <option value="Netbanking">Netbanking</option>
                                <option value="UPI">UPI</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Cryptocurrency">Cryptocurrency</option>
                            </select>
                            </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="message-text" class="col-form-label">Tags:</label>
                        <input type="text" list="SCE" class="form-control" name="sub_category" placeholder="Enter the Sub-Category" required>
                        <datalist id="SCE">
                        <%if(ECATR.length > 0) {%>
                            <%ECATR.forEach((result,index) => {%>
                            <option value="<%=result.Name%>"></option>
                            <%});%>
                        <%}%>
                        </datalist>
                    </div>
                  <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        <input id="datePickerId" type="date" class="form-control" name="dateEM" placeholder="Enter the Date" required>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="background-color: red;">Add Expense</button>
                  </div>
            </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="income" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color: green; color:white">
            <h5 class="modal-title" id="exampleModalLabel">Add Income</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="authAI" method="POST">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter the Name" required>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Quantity:</label>
                <input type="number" min="1" max="50" class="form-control" name="quantity" placeholder="Enter the Quantity" required>
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Amount:</label>
                <input type="number" min="1" max="999999" class="form-control" name="amount" placeholder="Enter the Amount" required>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                        <label>Category :</label><br>
                        <select name="category" placeholder="Select" class="btn btn-primary dropdown-toggle" value="" required>
                            <option value="Salary">Salary</option>
                            <option value="Bonus">Bonus</option>
                            <option value="Passive Income">Passive Income</option>
                            <option value="Prizes">Prizes</option>
                            <option value="Sales">Sales</option>
                            <option value="Others">Others</option>
                        </select>
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group">
                        <label>Payment Method :</label><br>
                        <select name="payment" placeholder="Select" class="btn btn-primary dropdown-toggle" value="" required>
                            <option value="Cash">Cash</option>
                            <option value="Credit">Credit</option>
                            <option value="Netbanking">Netbanking</option>
                            <option value="UPI">UPI</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Cryptocurrency">Cryptocurrency</option>
                        </select>
                        </div>
                </div>
            </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tags:</label>
                        <input type="text" list="SCI" class="form-control" name="sub_category" placeholder="Enter the Sub-Category" required>
                        <datalist id="SCI">
                        <%if(ICATR.length > 0) {%>
                            <%ICATR.forEach((result,index) => {%>
                            <option value="<%=result.Name%>"></option>
                            <%});%>
                        <%}%>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        <input id="datePickerId1" type="date" class="form-control" name="dateEM" placeholder="Enter the Date" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="background-color: green;">Add Income</button>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="budget" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: blue; color:white">
                <h5 class="modal-title" id="exampleModalLabel">Add Budget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="authAB" method="POST">
                    <div class="form-group">
                        <label>Category :</label><br>
                        <select name="category" placeholder="Select" class="btn btn-primary dropdown-toggle" value="" required>
                            <option value="Groceries">Groceries</option>
                            <option value="Bills">Bills</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Travel">Travel</option>
                            <option value="Medical">Medical</option>
                            <option value="Utilities">Utilities</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Amount:</label>
                        <input type="number" min="1" max="999999" class="form-control" name="amount" placeholder="Enter the Amount" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Deadline</label>
                        <input id="datePickerIdBudget" type="date" class="form-control" name="dateEM" placeholder="Enter the Date" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" style="background-color: blue;">Add Budget</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        datePickerIdBudget = document.getElementById('datePickerIdBudget');
        datePickerIdBudget.min = new Date().toISOString().split("T")[0];

        datePickerId = document.getElementById('datePickerId');
        datePickerId.max = new Date().toISOString().split("T")[0];

        datePickerId1 = document.getElementById('datePickerId1');
        datePickerId1.max = new Date().toISOString().split("T")[0];

        $(document).ready( function () {
            $('#myTable').DataTable();
        } );

        lifetimeI = [<%-LTIR%>] //[99,99,50,50,25,25];
        yearI = [<%-YTIR%>] //[89,99,40,50,15,25];
        monthI = [<%-MTIR%>] //[99,89,50,40,25,15];
        weekI = [<%-WTIR%>] //[79,89,30,40,35,55];
        todayI = [<%-TTIR%>] //[10,20,30,20,30,60];

        lifetimeE = [<%-LTER%>] //[99,99,50,50,25,25,12,34];
        yearE = [<%-YTER%>] //[89,99,40,50,15,25,12,35];
        monthE = [<%-MTER%>] //[99,89,50,40,25,15,12,31];
        weekE = [<%-WTER%>] //[79,89,30,40,35,55,12,32];
        todayE = [<%-TTER%>] //[10,20,30,20,30,60,12,30];

        var ctx1 = document.getElementById('myChart2').getContext('2d');
        var myPieChartI = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['Bonus','Others','Passive Income','Prizes','Salary','Sales'],
                datasets: [{
                    data: lifetimeI,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 0, 0, 0.2)',
                        'rgba(100, 100, 200, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(200, 100, 50, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 0, 0, 1)',
                        'rgba(100, 100, 200, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(200, 100, 50, 1)'
                    ],
                    borderAlign:`center`,
                }],
            },
            options: {
                responsive:true,
                legend: {
                    position:'left'
                },
                animation: {
                    animateScale: true,
                }
            }
        });

        var ctx2 = document.getElementById('myChart1').getContext('2d');
        var myPieChartE = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: ['Bills','Education','Entertainment','Groceries','Medical','Others','Travel','Utilities'],
                datasets: [{
                    data: lifetimeE,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(100, 100, 200, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(200, 100, 50, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(100, 100, 200, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(200, 100, 50, 1)'
                    ],
                    borderAlign:`center`,
                }],
            },
            options: {
                responsive:true,
                legend: {
                    position:'left'
                },
                animation: {
                    animateScale: true,
                }
            }
        });

        var today = document.getElementById('today')
        var week = document.getElementById('week')
        var month = document.getElementById('month')
        var year = document.getElementById('year')
        var lifetime = document.getElementById('lifetime')

        function addData(chart, data) {
            console.log(chart.data)
            chart.data.datasets[0].data = data
            chart.update();
        }
        
        function LIFETIME() {
            today.classList.remove("active-mim");
            week.classList.remove("active-mim");
            month.classList.remove("active-mim");
            year.classList.remove("active-mim");
            lifetime.classList.add("active-mim");
            document.getElementById("expenseTotal").innerHTML = <%-LTEtotal%>;
            document.getElementById("incomeTotal").innerHTML = <%-LTItotal%>;
            addData(myPieChartE,lifetimeE);
            addData(myPieChartI,lifetimeI);

        }
        function YEAR() {
            today.classList.remove("active-mim");
            week.classList.remove("active-mim");
            month.classList.remove("active-mim");
            year.classList.add("active-mim");
            lifetime.classList.remove("active-mim");
            document.getElementById("expenseTotal").innerHTML = <%-YTEtotal%>;
            document.getElementById("incomeTotal").innerHTML = <%-YTItotal%>;
            addData(myPieChartE,yearE);
            addData(myPieChartI,yearI);
        }
        function MONTH() {
            today.classList.remove("active-mim");
            week.classList.remove("active-mim");
            month.classList.add("active-mim");
            year.classList.remove("active-mim");
            lifetime.classList.remove("active-mim");
            document.getElementById("expenseTotal").innerHTML = <%-MTEtotal%>;
            document.getElementById("incomeTotal").innerHTML = <%-MTItotal%>;
            addData(myPieChartE,monthE);
            addData(myPieChartI,monthI);
        }
        function WEEK() {
            today.classList.remove("active-mim");
            week.classList.add("active-mim");
            month.classList.remove("active-mim");
            year.classList.remove("active-mim");
            lifetime.classList.remove("active-mim");
            document.getElementById("expenseTotal").innerHTML = <%-WTEtotal%>;
            document.getElementById("incomeTotal").innerHTML = <%-WTItotal%>;
            addData(myPieChartE,weekE);
            addData(myPieChartI,weekI);
        }
        function TODAY() {
            today.classList.add("active-mim");
            week.classList.remove("active-mim");
            month.classList.remove("active-mim");
            year.classList.remove("active-mim");
            lifetime.classList.remove("active-mim");
            document.getElementById("expenseTotal").innerHTML = <%-TTEtotal%>;
            document.getElementById("incomeTotal").innerHTML = <%-TTItotal%>;
            addData(myPieChartE,todayE);
            addData(myPieChartI,todayI);
        }


</script>
</body>
</html>